hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #000;
}

.panel {
    width: 100%;
    border: #ccc solid 1px;
}
.panel > .title {
    cursor: pointer;
    background: #5cb85c;
}
.panel > .inner {
    border-top: #ccc solid 1px;
	background-color: #F8E0E0;
}

.fixed{
	position: fixed;
}


button {
    background-color: #008CBA; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

body {
	padding-top: 70px;
	padding-bottom: 20px;
	
}

.navmenu {
width: auto;
}

.itemImg{
float:left;
border: 1px solid black ;
}



.itemText{
    padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 30%;
	margin-right: 30%;

	border: 1px solid black ;
}

.bdItem {
    border: 1px double red; /* Линия справа от текста */
}


.bottonItem{
float:right;
border: 1px solid black ;
}
/*

*/
.spoiler_desc {
     background: #333333;
     padding: 0 5px;
     border-radius: 0 0 5px 5px;
     margin-top: 22px;
 }
 .spoiler_desc p {
     cursor: text;
     color: #FFFFFF;
 }
 .spoiler_close {
     display: none;
     width: 100%;
     height: 22px;
     background: #5cb85c;
     border-radius: 5px 5px 0 0;
     text-indent: 10px;
     cursor: default;
     border-bottom: 1px dotted #000000;
     position: absolute;
     top: 0px;
     left: 0;
 }
 .spoiler_close:hover { background: #fff; }
 .spoiler_open:before {
     content: 'Открыть каталог полученого оборудования';
     border-bottom: 1px dotted #000000;
     cursor: default;
     text-indent: 10px;
     border-radius: 5px 5px 0 0;
     width: 100%;
     height: 22px;
     background: #5cb85c;
     display: block;
     position: absolute;
     top: 0px;
     left: 0;
 }
 .spoiler_open:hover:before { background: #FFF; }
 .spoiler_open {
     margin: 5px 0 0 15px;
     height: 23px;
     width: auto;
     outline: none;
     float: left;
     position: relative;
     overflow: hidden;
     -webkit-transition: height 0.3s ease;
     -moz-transition: height 0.3s ease;
     -ms-transition: height 0.3s ease;
     -o-transition: height 0.3s ease;
     transition: height 0.3s ease;
 }
 .spoiler_open:focus { height: auto; }
 .spoiler_open:focus .spoiler_close { display: block; }
 .spoiler_open:focus:before { display: none; }